:root{
    --bg-primary: #230c33;  
    --bg-secondary: #caa8f5;
    --purpleTwo: #9984d4;
    --orange: #FF6C22;
    --bs-blue: #2B3499;
    --gold: #c59615;
    --violet: #451e5d;
    --heading-font: 'Abril Fatface', serif;
    --sub-main-font: 'Lexend', sans-serif;
    
}

h1, h2{
    font-family: var(--heading-font);
}

h3, h4, h5, h6{
    font-family: var(--sub-main-font);
}

body{
    background-color: var(--purpleTwo);
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    filter: drop-shadow(5px 10px 10px rgba(40, 33, 80, 0.59));
}

.bg-blur {
    /* background-color: var(--bg-primary); */
    backdrop-filter: blur(1.5rem) saturate(1.5); /*saturate helps the background disappear when the blur doesnt help it stand out*/
}

.nav-link{
    color: var(--bs-body-bg);
    font-family: var(--sub-main-font);
}

/* .nav-tabs{
    border-bottom: none;
}

.nav-tabs .nav-link.active{
    background-color: var(--bg-primary);
    color: var(--gold);
    border-color: var(--gold);
} */

.nav-pills .nav-link.active{
    background-color: var(--orange);
    color: var(--bg-primary);
    font-weight: 700;
}

@keyframes fixedintro-purp-or{ /*animation*/
    from{background: radial-gradient(var(--bg-secondary), var(--orange));}
    to{background: radial-gradient(var(--purpleTwo), var(--orange));}
}

.fixed-intro{
    /* width: 100%; */
    background: radial-gradient(var(--orange), var(--purpleTwo));
    
    background-attachment: fixed;
    z-index: -2;
}

.fixed-intro:hover{/*animation*/
    animation-name: fixedintro-purp-or;
    animation-duration: 5s;
}

.fixed-intro h1{
    font-weight: 500;
    font-size: 3.5rem;
}

#mypic{
    width: 20%;
    border-radius: 13% 70% / 36% 31% 59% 64%;
}

.intro-cards h2{
    color: var(--violet);
    font-size: 2.5rem;
}

.intro-cards h3{
    color: var(--bg-secondary);
    font-weight: 600;
}

.intro-cards p{
    color: var(--bs-body-bg);
}

.intro-cards-body{
    background-color: var(--violet);
    border: none;
    transition: 2s;
}

footer h4{
    font-family: var(--heading-font);
    font-size: 3rem;
}