:root{
    --bg-primary: #230c33;  
    --bg-secondary: #caa8f5;
    --purpleTwo: #9984d4;
    --orange: #FF6C22;
    --bs-blue: #2B3499;
    --gold: #c59615;
    --violet: #451e5d;
    --heading-font: 'Abril Fatface', serif;
    --sub-main-font: 'Lexend', sans-serif;
    
}

h1, h2{
    font-family: var(--heading-font);
}

h3, h4, h5, h6{
    font-family: var(--sub-main-font);
}

p {
    font-family: 'Yeseva One', cursive;
}

a {
    text-decoration: none;
}

body{
    background-color: var(--purpleTwo);
}

.text-orientation-vert{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    filter: drop-shadow(5px 10px 10px rgba(40, 33, 80, 0.59));
    font-size: 1.5rem;
}

.bg-blur {
    /* background-color: var(--bg-primary); */
    backdrop-filter: blur(1.5rem) saturate(1.5); /*saturate helps the background disappear when the blur doesnt help it stand out*/
}

.bg-translucent{
    background: rgba(92, 72, 124, 0.39);
}

.bg-light-orange{
    background-color: var(--orange);
    color: var(--bg-primary);
}

.nav-link{
    color: var(--bs-body-bg);
    font-family: var(--sub-main-font);
}

.nav-pills .nav-link.active{
    background-color: var(--orange);
    color: var(--bg-primary);
    font-weight: 700;
}

@keyframes fixedintro-purp-or{ /*animation*/
    from{background: radial-gradient(var(--bg-secondary), var(--orange));}
    to{background: radial-gradient(var(--purpleTwo), var(--orange));}
}

/* Home */

.fixed-intro{
    /* width: 100%; */
    background: radial-gradient(var(--orange), var(--purpleTwo));
    background-attachment: fixed;
    z-index: -2;
}

.fixed-intro:hover{/*animation*/
    animation-name: fixedintro-purp-or;
    animation-duration: 5s;
}

.fixed-intro h1{
    font-weight: 500;
    font-size: 3.5rem;
}

#mypic{
    width: 20%;
    border-radius: 13% 70% / 36% 31% 59% 64%;
}

.intro-cards h2{
    color: var(--violet);
    font-size: 2.5rem;
}

.intro-cards h3{
    color: var(--bg-secondary);
    font-weight: 600;
}

.intro-cards p{
    color: var(--bs-body-bg);
}

.intro-cards-body{
    background-color: var(--violet);
    border: none;
    transition: 2s;
}

/* Exhibit */

.test-gif:hover{
    background-image: url("../images/watching-movie_gif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.exhibit-h2 h2{
    font-size: 3.5rem;
    color: var(--bg-primary);
}

.carousel-caption{
    background-color: var(--bs-black);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background-color: var(--bs-black);
}

/* table - Resume */

.table{
    --bs-table-bg: var(--orange);
}

[data-bs-theme=dark] .table, [data-bs-theme=dark] .bg-light-orange{
    --bs-table-bg: var(--bs-blue);
    background-color: var(--bs-blue);
}

.form-switch .form-check-input {
    width: 4em;
    height: 2.5em;
}

table h2{
    font-size: 3rem;
}

table h4{
    font-size: 2em;
    color:var(--bs-body-bg);
}

[data-bs-theme=dark] table h4{
    color: var(--bs-white);
}

table h6{
    font-size: 1.2em;
}

.btn-primary{
    background-color: var(--bs-black);
    border: 0;
    font-weight: 700;
}

.btn-primary:hover{
    color: var(--bs-black);
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .btn-primary{
    background-color: var(--gold);
    border: 0;
    color: var(--bg-primary);
    font-weight: 700;
}


[data-bs-theme=dark] .btn-primary:hover{
    color: var(--gold);
    background-color: var(--bg-primary);
}

/* Contact */

#conno-contact{
    background-image: url("../images/conno_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 47%;
    height: auto;
}

.contact h2{
    font-size: 4.8rem;
    color: var(--bs-body-bg);
}

/* Filmblog */
.badge{
    --bs-badge-padding-x: 1em;
    --bs-badge-padding-y: 0.5em;
    --bs-badge-font-size: 1em;
}

.cust-card-overlay{
    opacity: 0;
}

.film-card:hover .card-img-overlay{
    opacity: 1;
    background: rgba(40, 18, 188, 0.59);
    color: var(--bs-white);
    font-size: 1.5rem;
}

/* Footer */

footer h4{
    font-family: var(--heading-font);
    font-size: 3rem;
    color: var(--bs-body-bg);
}

.fa{
    /* font-size: 108px; */
	text-decoration: none;
	color: var(--bs-black);
}

.btn-ig, .btn-ld{
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 2.5rem;
    background-color: var(--bs-body-bg);
    border: none;
}

.btn-ig:hover{
    background: linear-gradient(to bottom left,#485ec1, #a230b9, #d83e7e, #ee4c4a, #f67d44,#f6ca51);
}

.btn-ld:hover{
    background-color: #1469c7;
}